.menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(90deg, #560a37, #602045, #5a123c, #4a062e);
    background-size: 100% 100%;
    animation: Menu_gradient__-58KM 15s ease infinite;
    padding: 1.5rem;
    margin-top: -1rem;
    border-radius: 1rem;
}

.menu .menu_item {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    background-color: #eee;
    box-shadow: 4px 4px 13px #333;
    padding: 0.8rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.menu input {
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
}